@charset "UTF-8";
/*工具类*/
.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  /*设置添加的子元素的内容为空*/
  content: "";
  /*设置添加的子元素为块级元素*/
  display: block;
  /*设置添加的子元素的高度为0*/
  height: 0;
  /*设置添加的子元素看不见*/
  visibility: hidden;
  /*给添加的子元素设置clear: both;*/
  clear: both;
}

.clearfix {
  /*兼容IE6*/
  *zoom: 1;
}

/*水平垂直居中*/
/*水平居中*/
/*垂直居中*/
/*三角形*/
body {
  font: 12px/22px "Helvetica Neue", "Arial", "PingFang SC", "Microsoft Yahei","SimSun",sans-serif;
  background: #fff;
  color: #333;
  overflow-x: hidden;
  overflow-y: auto;
}

/*顶部工具条*/
.tool {
  width: 100%;
  height: 30px;
  background: #fafafa;
}
.tool .tool-in {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.tool .tool-in .tool-left {
  display: flex;
  justify-content: left;
}
.tool .tool-in .tool-left li {
  line-height: 30px;
  padding: 0 5px;
}
.tool .tool-in .tool-left li a {
  color: #6c6c6c;
}
.tool .tool-in .tool-left li a:hover {
  color: #f60;
}
.tool .tool-in .tool-left li:nth-child(1) {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.tool .tool-in .tool-left li:nth-child(1) i {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("./../images/icons.png") no-repeat 0 -70px;
  vertical-align: middle;
}
.tool .tool-in .tool-left li:nth-child(1) div {
  display: none;
  overflow: hidden;
}
.tool .tool-in .tool-left li.active {
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;
}
.tool .tool-in .tool-left li.active > i {
  background-position: -18px -70px;
}
.tool .tool-in .tool-left li.active > a {
  color: #f60;
}
.tool .tool-in .tool-left li.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 30px;
}
.tool .tool-in .tool-left li.active div {
  width: 360px;
  height: 380px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  position: absolute;
  left: -1px;
  top: 30px;
  z-index: 999;
  background: #fff;
}
.tool .tool-in .tool-left li.active div dl {
  line-height: 22px;
}
.tool .tool-in .tool-left li.active div dl dt {
  width: 50px;
  height: 20px;
}
.tool .tool-in .tool-left li.active div dl dd {
  width: 250px;
}
.tool .tool-in .tool-left li.active div dl dd a {
  white-space: nowrap;
}
.tool .tool-in .tool-right {
  display: flex;
  justify-content: left;
  align-items: center;
}
.tool .tool-in .tool-right li {
  height: 30px;
  line-height: 30px;
  margin: 0 5px;
}
.tool .tool-in .tool-right li a {
  color: #6c6c6c;
}
.tool .tool-in .tool-right li a:hover {
  color: #f60;
}
.tool .tool-in .tool-right li:nth-child(1), .tool .tool-in .tool-right li:last-of-type {
  position: relative;
  padding: 0 15px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.tool .tool-in .tool-right li:nth-child(1) i, .tool .tool-in .tool-right li:last-of-type i {
  width: 0;
  height: 0;
  border-width: 3px;
  border-style: solid solid solid solid;
  border-color: #6c6c6c transparent transparent transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
.tool .tool-in .tool-right li:nth-child(1) div, .tool .tool-in .tool-right li:last-of-type div {
  display: none;
}
.tool .tool-in .tool-right li:nth-child(1) div p, .tool .tool-in .tool-right li:last-of-type div p {
  width: 100%;
}
.tool .tool-in .tool-right li:nth-child(1) div p a, .tool .tool-in .tool-right li:last-of-type div p a {
  padding-left: 15px;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.tool .tool-in .tool-right li:nth-child(1) div p a:hover, .tool .tool-in .tool-right li:last-of-type div p a:hover {
  background: #fafafa;
}
.tool .tool-in .tool-right li:nth-child(1):hover, .tool .tool-in .tool-right li:last-of-type:hover {
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.tool .tool-in .tool-right li:nth-child(1):hover i, .tool .tool-in .tool-right li:last-of-type:hover i {
  transform: rotateZ(180deg) translateY(5px);
}
.tool .tool-in .tool-right li:nth-child(1):hover div, .tool .tool-in .tool-right li:last-of-type:hover div {
  display: block;
  width: 102%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
  position: absolute;
  left: -1px;
  top: 30px;
  box-sizing: border-box;
  z-index: 999;
}
.tool .tool-in .tool-right li.weixin, .tool .tool-in .tool-right li.xiaochengxu, .tool .tool-in .tool-right li.sina, .tool .tool-in .tool-right li.tel, .tool .tool-in .tool-right li.phone {
  vertical-align: middle;
  position: relative;
}
.tool .tool-in .tool-right li.weixin i, .tool .tool-in .tool-right li.xiaochengxu i, .tool .tool-in .tool-right li.sina i, .tool .tool-in .tool-right li.tel i, .tool .tool-in .tool-right li.phone i {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("./../images/icons.png") no-repeat -20px -90px;
  vertical-align: middle;
}
.tool .tool-in .tool-right li.weixin div, .tool .tool-in .tool-right li.xiaochengxu div, .tool .tool-in .tool-right li.sina div, .tool .tool-in .tool-right li.tel div, .tool .tool-in .tool-right li.phone div {
  display: none;
}
.tool .tool-in .tool-right li.weixin:hover div, .tool .tool-in .tool-right li.xiaochengxu:hover div, .tool .tool-in .tool-right li.sina:hover div, .tool .tool-in .tool-right li.tel:hover div, .tool .tool-in .tool-right li.phone:hover div {
  display: block;
  position: absolute;
  left: 0;
  top: 30px;
}
.tool .tool-in .tool-right li.xiaochengxu i {
  background-position: -420px -320px;
}
.tool .tool-in .tool-right li.sina i {
  background-position: -20px -110px;
}
.tool .tool-in .tool-right li.tel i {
  background-position: 0 -130px;
}
.tool .tool-in .tool-right li.phone i {
  background-position: 0 -150px;
}
.tool .tool-in .tool-right li:last-of-type div {
  width: auto !important;
}
.tool .tool-in .tool-right li:last-of-type div p {
  white-space: nowrap;
}
.tool .tool-in .tool-right li:last-of-type div a {
  padding-right: 5px;
}

/*顶部广告*/
.ad {
  width: 100%;
  height: 0px;
  overflow: hidden;
}
.ad .ad-in {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.ad .ad-in span {
  display: none;
  width: 15px;
  height: 15px;
  background: url("./../images/icons.png") no-repeat -100px -190px;
  position: absolute;
  top: 5px;
  right: 5px;
}

/*头部区域*/
.header {
  width: 100%;
  height: 80px;
}
.header .header-in {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.header .header-in .logo {
  padding-top: 11px;
}
.header .header-in .tip {
  padding-top: 15px;
}
.header .header-in .search {
  width: 660px;
  height: 42px;
  margin-left: 50px;
  margin-top: 19px;
}
.header .header-in .search .search-city {
  width: 130px;
  height: 100%;
  background: #FFF7EC;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  border: 3px solid #f90;
  box-sizing: border-box;
}
.header .header-in .search .search-city b {
  font-size: 15px;
  font-weight: normal;
  color: #444;
  margin-right: 5px;
}
.header .header-in .search .search-city span {
  color: #bbb;
}
.header .header-in .search .search-city i {
  display: inline-block;
  width: 10px;
  height: 7px;
  background: url("./../images/search-home.png") no-repeat -20px -20px;
  margin-left: 35px;
}
.header .header-in .search .search-box {
  width: 520px;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  border: 3px solid #f90;
  box-sizing: border-box;
}
.header .header-in .search .search-box .search-type {
  width: 100px;
  height: 100%;
  line-height: 42px;
  padding-left: 10px;
  border-right: 1px solid #f90;
  background: #FFF7EC;
}
.header .header-in .search .search-box .search-type b {
  font-size: 15px;
  color: #f90;
}
.header .header-in .search .search-box .search-type i {
  display: inline-block;
  width: 10px;
  height: 7px;
  background: url("./../images/search-home.png") no-repeat -20px -20px;
  margin-left: 15px;
}
.header .header-in .search .search-box input {
  width: 320px;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
  box-sizing: border-box;
}
.header .header-in .search .search-box .search-btn {
  width: 100px;
  height: 100%;
  line-height: 42px;
  background: #f90;
}
.header .header-in .search .search-box .search-btn i {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url("./../images/search-home.png") no-repeat -40px -40px;
  margin-left: 20px;
  position: relative;
  top: 5px;
}
.header .header-in .search .search-box .search-btn span {
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}

/*头部导航*/
.nav {
  width: 100%;
  height: 44px;
  background: #e38;
}
.nav .nav-in {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.nav .nav-in li {
  height: 100%;
  line-height: 44px;
  float: left;
  padding: 0 10px;
}
.nav .nav-in li:nth-child(1) {
  background: #a81c54;
}
.nav .nav-in li:nth-child(1):hover {
  background: #a81c54;
}
.nav .nav-in li:hover {
  background: #f49;
}
.nav .nav-in li.selected a i {
  transform: rotateZ(180deg);
}
.nav .nav-in li a {
  font-size: 15px;
  color: #fff;
}
.nav .nav-in li a i {
  display: inline-block;
  width: 9px;
  height: 6px;
  background: url("./../images/icons.png") no-repeat -130px -300px;
  margin-left: 5px;
}
.nav .sub-nav {
  width: 100%;
  height: 44px;
  line-height: 44px;
  background: #fff;
  position: relative;
  display: none;
  z-index: 999;
}
.nav .sub-nav p {
  position: relative;
  display: inline-block;
}
.nav .sub-nav p a {
  font-size: 14px;
  color: #666;
  margin: 0 10px;
}
.nav .sub-nav p a:hover {
  color: #f49;
}
.nav .sub-nav .nav-arrow {
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid solid solid solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  left: 0;
  top: -10px;
}

/*banner区域*/
.banner {
  position: relative;
}
.banner .banner-box {
  width: 100%;
  height: 400px;
}
.banner .banner-box li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.5s linear 0s;
  width: 100%;
  height: 100%;
}
.banner .banner-box li img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.banner .banner-number {
  width: 1200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.banner .banner-number li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  margin-left: 10px;
}
.banner .banner-number li.active {
  background: #d37;
}
.banner .tab {
  width: 560px;
  height: 360px;
  background: red;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  margin-left: -600px;
}
.banner .tab .tab-left {
  width: 80px;
  height: 100%;
  background: rgba(60, 87, 105, 0.8);
}
.banner .tab .tab-left li {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-bottom: 1px solid #4d6072;
  box-sizing: border-box;
}
.banner .tab .tab-left li.active {
  background: #fff;
  border-left: 3px solid #ef3388;
  box-sizing: border-box;
}
.banner .tab .tab-left li.active a {
  color: #ef3388;
}
.banner .tab .tab-left li.active:hover {
  background: #fff;
}
.banner .tab .tab-left li:hover {
  background: #455769;
}
.banner .tab .tab-left li a {
  font-size: 15px;
  color: #fff;
}
.banner .tab .tab-right {
  width: 480px;
  height: 100%;
  background: #000;
}
.banner .tab .tab-right > div {
  width: 100%;
  height: 100%;
  display: none;
  padding: 0 20px;
  box-sizing: border-box;
  background: #fff;
}
.banner .tab .tab-right > div.active {
  display: block;
}
.banner .tab .tab-top {
  width: 100%;
  height: 45px;
  line-height: 45px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 2px solid #bbb;
}
.banner .tab .tab-top li {
  padding: 0 10px;
}
.banner .tab .tab-top li.active {
  position: relative;
}
.banner .tab .tab-top li.active a {
  color: #ef3388;
  font-weight: bold;
}
.banner .tab .tab-top li.active p {
  width: 100%;
  height: 2px;
  background: #ef3388;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.banner .tab .tab-top li.active p i {
  display: inline-block;
  width: 11px;
  height: 6px;
  background: url("./../images/lv_search.png") no-repeat -340px 0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.banner .tab .tab-top li a {
  font-size: 15px;
  color: #333;
}
.banner .tab .tab-top li a:hover {
  color: #ef3388;
}
.banner .tab .tab-bottom input {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  margin-top: 20px;
  padding-left: 10px;
}
.banner .tab .tab-bottom > div {
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #bbb;
}
.banner .tab .tab-bottom > div span {
  display: inline-block;
  width: 80px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  background: #ef3388;
  border-radius: 5px;
}
.banner .tab .tab-bottom > dl {
  margin-top: 10px;
}
.banner .tab .tab-bottom > dl dt {
  margin-right: 10px;
}
.banner .tab .tab-bottom > dl dd {
  width: 350px;
}
.banner .tab .tab-bottom > dl dd a {
  white-space: nowrap;
  color: #ccc;
}
.banner .tab .tab-bottom > dl dd span {
  margin: 0 5px;
  color: #ccc;
}

/*秒杀区域*/
.seckill {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.seckill .seckill-in {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.seckill .seckill-in .seckill-top {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #bbb;
  position: relative;
}
.seckill .seckill-in .seckill-top .seckill-tab {
  display: flex;
  justify-content: left;
  align-items: center;
}
.seckill .seckill-in .seckill-top .seckill-tab li {
  margin-right: 30px;
}
.seckill .seckill-in .seckill-top .seckill-tab li.active a {
  color: #ef3388;
}
.seckill .seckill-in .seckill-top .seckill-tab li a {
  font-size: 20px;
  color: #666;
}
.seckill .seckill-in .seckill-top > p {
  width: 80px;
  height: 2px;
  background: #ef3388;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: all 0.3s linear 0s;
}
.seckill .seckill-in .seckill-top > p i {
  display: inline-block;
  width: 11px;
  height: 6px;
  background: url("./../images/lv_search.png") no-repeat -340px 0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.seckill .seckill-in .seckill-top > a {
  margin-top: 10px;
}
.seckill .seckill-in .seckill-bottom {
  width: 100%;
  height: 260px;
  display: none;
  justify-content: space-between;
}
.seckill .seckill-in .seckill-bottom.active {
  display: flex;
}
.seckill .seckill-in .seckill-bottom li {
  width: 220px;
  height: 260px;
  border: 1px solid #bbb;
}
.seckill .seckill-in .seckill-bottom li:hover {
  box-shadow: 0 0 10px #000;
}
.seckill .seckill-in .seckill-bottom li:hover p {
  color: #f60;
}
.seckill .seckill-in .seckill-bottom li a img {
  width: 100%;
}
.seckill .seckill-in .seckill-bottom li a p {
  color: #333;
  padding: 0 10px;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
}
.seckill .seckill-in .seckill-bottom li a p b {
  color: #390;
}
.seckill .seckill-in .seckill-bottom li a p span {
  color: #666;
  margin: 0 5px;
}
.seckill .seckill-in .seckill-bottom li a div {
  padding: 10px;
  border-top: 1px solid #bbb;
  margin-top: 10px;
}
.seckill .seckill-in .seckill-bottom li a div p {
  font-size: 20px;
  color: #f60;
}
.seckill .seckill-in .seckill-bottom li a div p span {
  font-size: 13px;
  color: #666;
}
.seckill .seckill-in .seckill-bottom li a div i {
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #f60;
  border-radius: 5px;
  font-style: normal;
}

/*其它区域*/
.section {
  margin-top: 20px;
}
.section .section-in {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.section .section-in img {
  vertical-align: bottom;
}

/*底部*/
.footer {
  width: 100%;
  text-align: center;
}
.footer .footer-top {
  width: 100%;
  background: #d37;
}
.footer .footer-middle {
  width: 100%;
  background: #2F3F4F;
}
.footer .footer-bottom {
  width: 100%;
  background: #fff;
}

/*楼层菜单*/
.nav-left {
  width: 36px;
  position: fixed;
  left: 50%;
  margin-left: -650px;
  top: 70px;
  display: none;
}
.nav-left li {
  line-height: 34px;
  padding: 0 6px;
  box-sizing: border-box;
}
.nav-left li.active {
  background: #f49;
  color: #fff;
}
.nav-left li:hover {
  background: #f49;
  color: #fff;
}
.nav-left li h3 {
  border-bottom: 1px solid #eee;
}

/*右边工具条*/
.nav-right {
  width: 36px;
  height: 100%;
  background: #333;
  position: fixed;
  top: 0;
  right: 0;
}
.nav-right .nav-right-top {
  width: 100%;
}
.nav-right .nav-right-top li {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #bbb;
  padding: 10px 0 10px 0;
  position: relative;
}
.nav-right .nav-right-top li:nth-child(1) i {
  display: inline-block;
  width: 23px;
  height: 30px;
  background: url("./../images/icons.png") no-repeat -69px -132px;
}
.nav-right .nav-right-top li:nth-child(1) s {
  display: inline-block;
  width: 12px;
  height: 20px;
  background: url("./../images/icons.png") no-repeat -101px -135px;
}
.nav-right .nav-right-top li:nth-child(1) p {
  font-weight: bold;
  color: #fff;
  width: 100% !important;
}
.nav-right .nav-right-top li:nth-child(2) s {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("./../images/home.png") no-repeat -40px 0;
}
.nav-right .nav-right-top li:nth-child(3) s {
  display: inline-block;
  width: 14px;
  height: 16px;
  background: url("./../images/icons.png") no-repeat -40px -35px;
}
.nav-right .nav-right-top li:nth-child(3):hover {
  background: #e38;
}
.nav-right .nav-right-top li:nth-child(4):hover {
  background: #e38;
}
.nav-right .nav-right-top li p {
  font-weight: bold;
  color: #fff;
  width: 14px;
  margin: 0 auto;
}
.nav-right .nav-right-top li u {
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid solid solid solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: none;
}
.nav-right .nav-right-top li img {
  position: absolute;
  top: 0;
  right: 100%;
  border: 5px solid #fff;
  display: none;
}
.nav-right .nav-right-top li:hover u {
  display: block;
}
.nav-right .nav-right-top li:hover img {
  display: block;
}
.nav-right .nav-right-bottom {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.nav-right .nav-right-bottom li {
  width: 100%;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #bbb;
  text-align: center;
}
.nav-right .nav-right-bottom li s {
  display: inline-block;
  background: url("./../images/icons.png") no-repeat;
}
.nav-right .nav-right-bottom li p {
  font-weight: bold;
  color: #fff;
  width: 28px;
  margin: 0 auto;
}
.nav-right .nav-right-bottom li:nth-child(1) s {
  width: 22px;
  height: 19px;
  background-position: -100px -380px;
}
.nav-right .nav-right-bottom li:nth-child(2) {
  background: #e38;
}
.nav-right .nav-right-bottom li:nth-child(2) s {
  width: 19px;
  height: 22px;
  background-position: -173px -136px;
}
.nav-right .nav-right-bottom li:nth-child(3) s {
  width: 20px;
  height: 20px;
  background-position: -43px -134px;
}
.nav-right .nav-right-bottom li:nth-child(4) s {
  width: 17px;
  height: 7px;
  background-position: -22px -152px;
}
.nav-right .nav-right-bottom li:nth-child(5) s {
  width: 12px;
  height: 13px;
  background-position: -151px -139px;
  transition: all 0.3s linear 0s;
}
.nav-right .nav-right-bottom li:nth-child(5):hover s {
  transform: rotateZ(180deg);
}
.nav-right .nav-right-bottom li:hover {
  background: #e38;
}

.lv-logo {
  width: 73px;
  height: 80px;
  background: url("./../images/icons.png") no-repeat -3px -179px;
  position: fixed;
  right: -73px;
  bottom: 20px;
}
